.attribution {
  font-size: 11px;
  margin: 1em 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: block;
}

.text-center {
  text-align: center;
}
