.attribution {
  font-size: 11px;
  margin: 1em 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

body {
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

article {
  border-radius: 15px;
  height: auto;
}

.text-center {
  text-align: center;
}

#top-img {
  border-radius: 15px 15px 0 0;
  width: 100vw;
}

#text {
  margin: 20px;
}
