:root {
  /* primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --soft-yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photography text */
  --dark-moderate-cyan: hsl(168, 33%, 57%); /* footer */

  /* neutral colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-size: 1em;
  background: transparent;
  color: white;
  font-family: "Barlow", sans-serif;
  margin: 0;
  line-height: 1.8em;
  overflow-x: hidden;
}

header {
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#header-arrow {
  padding-top: 3em;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 15vh;
}

#menu img {
  width: 6em;
  height: 1.4em;
}

#menu li {
  display: inline;
  list-style: none;
  padding: 0 1em;
}

#contact-button {
  padding: 0.7em 1.5em;
  background: white;
  border-radius: 1.5em;
  color: black;
}

#contact-button:hover {
  background: hsla(167, 33%, 57%, 0.5);
  color: white;
}

#menu ul {
  padding-left: 0;
}

#menu img[src*="hamburger"] {
  display: none;
}
#menu .fa-bars {
  display: none;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 900;
}

.font-family-fraunces {
  font-family: "Fraunces", serif;
}

.font-family-barlow {
  font-family: "Barlow", sans-serif;
}

.text-darker {
  color: var(--very-dark-desaturated-blue);
}

.text-lighter {
  color: var(--dark-grayish-blue);
}

#text-graphic {
  color: var(--dark-desaturated-cyan);
}

#text-photo {
  color: var(--dark-blue);
}

.smaller-h2 {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

#top {
  font-size: 1.3em;
  font-family: "Fraunces", serif;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  font-size: 3em;
  line-height: 1.2em;
}

section h3 {
  font-size: 1em;
}

section h3:hover {
  text-decoration: underline solid var(--yellow) 7px;
}

.soft-red:hover {
  text-decoration: underline solid var(--soft-red) 7px;
}

.soft-yellow:hover {
  text-decoration: underline solid var(--soft-yellow) 7px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0;
}

.left-column {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-column div {
  margin: 5em 3.5em 5em 8em;
}

.right-column div {
  margin: 5em 8em 5em 3.5em;
}

.left-column img {
  width: 100%;
  height: 100%;
  display: block;
}

.right-column img {
  width: 100%;
  height: 100%;
  display: block;
}

.left-column.bgimg {
  background-image: url("./images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.right-column.bgimg {
  background-image: url("./images/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.left-column.bgimg div {
  margin: 0 7em;
  margin-top: 14em;
}

.right-column.bgimg div {
  margin: 0 7em;
  margin-top: 14em;
}

#client-testimonial-title {
  margin: 5em;
  margin-bottom: 4em;
  margin-top: 7em;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.testimonial-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.testimonial {
  margin: 0 2.5em;
  color: var(--very-dark-grayish-blue);
}

.testimonial h3 {
  font-size: 1.3em;
  margin-bottom: 0.05em;
  color: black;
}

.testimonial p {
  margin-top: 0;
  height: 5em;
}

.testimonial img {
  border-radius: 50%;
  width: 5em;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

.footer-flex img {
  display: block;
  width: 25vw;
}

#footer-logo {
  width: 10em;
  filter: invert(65%) sepia(10%) saturate(2198%) hue-rotate(117deg)
    brightness(89%) contrast(81%);
  margin-bottom: 0;
}

.footer-flex.contacts {
  margin: 0;
  background-color: var(--dark-moderate-cyan);
  flex-direction: column;
  padding: 5em;
}

.footer-flex.contacts ul {
  padding-left: 0;
  display: inline-flex;
}

.footer-flex.contacts li {
  list-style: none;
  display: inline;
  margin: 1.5em;
  color: var(--dark-desaturated-cyan);
  font-weight: 100;
  opacity: 0.7;
  font-size: 1.2em;
}

#footer-links a {
  text-decoration: none;
  color: hsl(167, 49%, 27%);
}

#footer-links li:hover {
  filter: invert(150%) sepia(100%) saturate(0%) hue-rotate(360deg)
    brightness(150%) contrast(150%);
}

#contact-buttons li {
  list-style: none;
  display: inline;
  margin: 0.5em;
  padding-left: 0.5em;
}

#contact-buttons img {
  width: 1.2em;
  filter: brightness(40%);
}

#contact-buttons img:hover {
  filter: invert(150%) sepia(100%) saturate(0%) hue-rotate(360deg)
    brightness(150%) contrast(150%);
}

@media screen and (max-width: 375px) {
  body {
    font-size: 16px;
  }

  #menu ul {
    display: none;
  }

  #menu img[src*="hamburger"] {
    display: block;
    width: 2em;
  }

  #menu .fa-bars {
    display: inline-block;
    font-size: 1.5em;
  }

  article {
    text-align: center;
  }

  #menu {
    padding: 2em;
  }

  section h2 {
    font-size: 2em;
    line-height: 1.4em;
  }

  .soft-red {
    text-decoration: underline solid var(--soft-red) 7px;
  }

  .soft-yellow {
    text-decoration: underline solid var(--soft-yellow) 7px;
  }

  .grid-layout {
    grid-template-columns: minmax(0, 1fr);
  }

  #order-first {
    order: -1;
  }

  .left-column,
  .right-column {
    height: fit-content;
  }

  .left-column div,
  .right-column div {
    margin: 1em 3em;
    text-align: center;
  }

  .left-column h2,
  .right-column h2 {
    font-size: 2em;
    text-align: center;
  }

  .left-column.bgimg div,
  .right-column.bgimg div {
    margin-top: 12em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  #text-graphic {
    margin-top: 20em;
    margin-bottom: 3em;
  }

  #text-photo {
    margin-top: 20em;
    margin-bottom: 3em;
  }

  #client-testimonial-title {
    margin: 4em 1em;
    font-size: 1em;
  }

  .testimonial-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .testimonial p {
    margin-top: 0;
    height: 7em;
  }

  .footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .footer-flex img {
    display: block;
    width: 50vw;
  }

  .footer-flex.contacts {
    padding: 0;
    padding: 3em 0;
  }
}
